<div class="card">
    <div class="card-header">
        {{pageTitle + ' : ' + product?.productName}}
    </div>
    <div class="card-body" *ngIf="product">
        <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-2">Product Id</div>
                <div class="col">{{product.productId}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">Product Name</div>
                <div class="col">{{product.productName}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">Product Code</div>
                <div class="col">{{product.productCode}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">release Date</div>
                <div class="col">{{product.releaseDate}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">Description</div>
                <div class="col">{{product.description}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">Price</div>
                <div class="col">{{product.price}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">Rating</div>
                <div class="col"><pm-star [rating]='product.starRating'></pm-star></div>
            </div>
        </div>
        <div class="col-md-4">
            <img 
                [src]='product.imageUrl' 
                [alt]='product.productName' 
                [style.width.px]='200'
                [style.margin.px]='2'>
        </div>
    </div>
    </div>
</div>
<div class="class-footer">
    <button class="btn btn-outline-secondary"
        style="width: 80px;"
        (click)="onBack()">
        <i class="fa fa-chevron-left"></i>Back
    </button>
</div>
